<div *ngIf="user">
  <h2>Profile: {{ user.name }}</h2>
  <p>Email: {{ user.email }}</p>

  <button (click)="showDeleteModal = true" class="delete-button">
    Delete My Account
  </button>

  <div class="modal-overlay" *ngIf="showDeleteModal">
    <div class="modal">
      <h3>Confirm Account Deletion</h3>
      <p>Are you sure you want to delete your account? This action cannot be undone.</p>
      <div class="modal-buttons">
        <button (click)="confirmDelete()" class="confirm-btn">Confirm</button>
        <button (click)="showDeleteModal = false" class="cancel-btn">Cancel</button>
      </div>
    </div>
  </div>

  <h2>My Games</h2>
  <div *ngIf="games.length === 0">
    <p><b>No games played yet.</b></p>
  </div>
  <div class="table-container" *ngIf="games.length > 0">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Score</th>
          <th>Moves</th>
          <th>Duration</th>
          <th>Total Score</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of games; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ game.score }}</td>
          <td>{{ game.moves }}</td>
          <td>{{ game.duration | number:'1.0-2' }}s</td>
          <td><b>{{ game.score * 100 - game.moves * 2 - game.duration * 0.5 }}</b></td>
          <td>{{ game.createdAt | date:'short' }}</td>
        </tr>
      </tbody>
    </table>
   </div>
</div>
<p *ngIf="message">{{ message }}</p>
<div *ngIf="!user">
  <div class="spinner-overlay">
    <div class="spinner"></div>
  </div>
</div>
