<div class="leaderboard-container">
  <div class="top-player" *ngIf="topPlayer">
    <div class="crown">🏆</div>
      <div class="info">
        <h2>{{ topPlayer.name }}</h2>
        <p>Total Score: <b>{{ topPlayer.totalRankingScore }}</b></p>
      </div>
  </div>
  <h1>Leaderboard</h1>

  <div *ngIf="error" class="error">{{ error }}</div>

  <div class="table-container" *ngIf="!error && leaderboard.length > 0">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>User</th>
          <th>Total Score</th>
          <th>Games Played</th>
          <th>Avg Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let g of leaderboard; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ g.name }}</td>
          <td><b>{{ g.totalRankingScore }}</b></td>
          <td>{{ g.gamesPlayed }}</td>
          <td>{{ g.avgRankingScore }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="loading" class="spinner-overlay">
    <div class="spinner"></div>
  </div>
  <div *ngIf="!loading && leaderboard.length === 0 && !error" class="no-data">
    No games played yet
  </div>
</div>
